## Preprocessing

In [34]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [35]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [36]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [37]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [38]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [39]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T9", "T13", "T12", "T2", "T25", "T14", "T29", "T15", "T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [41]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts()== 1]

C2190    1
C4200    1
C2600    1
C5200    1
C1370    1
C1248    1
C6100    1
C1820    1
C1900    1
C1236    1
C3700    1
C2570    1
C1580    1
C1245    1
C2500    1
C1570    1
C1283    1
C2380    1
C1732    1
C1728    1
C2170    1
C4120    1
C8210    1
C2561    1
C4500    1
C2150    1
Name: CLASSIFICATION, dtype: int64

In [42]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ["C7000", "C7000", "C1700", "C4000",
                              "C5000", "C1270", "C2700", "C2800",
                              "C7100", "C1300", "C1280", "C1230",
                              "C1400", "C7200", "C2300", "C1240",
                              "C8000", "C7120", "C1500", "C1800",
                              "C6000", "C1250", "C8200", "C1238",
                              "C1278", "C1235", "C1237", "C7210",
                              "C2400", "C1720", "C4100", "C1257",
                              "C1600", "C1260", "C2710", "C0",
                              "C3200", "C1234", "C1246", "C1267",
                              "C1256", "C2190", "C4200", "C2600",
                              "C5200", "C1370", "C1248", "C6100",
                              "C1820", "C1900", "C1236", "C3700",
                              "C2570", "C1580", "C1245", "C2500",
                              "C5200", "C1570", "C1283", "C2380", 
                              "C1732", "C1728", "C2170", "C1278",
                              "C1270", "C4120", "C8210", "C2561", 
                              "C4500", "C2150"]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [43]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_dummies = pd.get_dummies(application_df[["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]])
application_df = pd.concat([application_df, categorical_dummies], axis=1)
application_df = application_df.drop(columns=["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"])
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [46]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"], 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

<ipython-input-46-b700299be697>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"], 1).values

In [47]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [49]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 6
hidden_nodes_layer2 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 264

 dense_1 (Dense)             (None, 6)                 42

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 313
Trainable params: 313
Non-trainable params: 0
_________________________________________________________________

In [50]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [52]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6232 - accuracy: 0.6865
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5695 - accuracy: 0.7207
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5613 - accuracy: 0.7257
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5579 - accuracy: 0.7266
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5560 - accuracy: 0.7270
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7270
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5536 - accuracy: 0.7276
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5528 - accuracy: 0.7272
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5520 - accuracy: 0.7289
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7290
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7289
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7292
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7293
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7297
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7302
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7301
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7308
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7317
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7309
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7313
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7313
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7311
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7310
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7305
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7301
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7299
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7309
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7322
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7320
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7320
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7325
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7324
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7328
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7338
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7324
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7327
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7317
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7331
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7335
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7331
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7334
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7328
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7321
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7326
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7332
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7331
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7325
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7325
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7326
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7331
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7329
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7324
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7333
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7338
Epoch 55/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5459 - accuracy: 0.7333
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7336
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7328
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7336
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7334
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7331
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7332
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7333
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7331
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7334
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7330
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7338
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7335
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7336
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7339
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7329
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7335
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7329
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7334
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7332
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7335
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7335
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7334
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7339
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7336
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7336
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7332
Epoch 82/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5453 - accuracy: 0.7333
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7333
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7335
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7331
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7336
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7338
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7338
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7334
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7338
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7336
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7335
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7335
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7330
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7333
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7329
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7340
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7339
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7337
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7332

In [53]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5537 - accuracy: 0.7298 - 722ms/epoch - 3ms/step
Loss: 0.5536655783653259, Accuracy: 0.7297959327697754

In [54]:
# Export our model to HDF5 file
import h5py
nn.save("AlphabetSoupCharity.h5")